body {
    background-color: #eeffff;
}

h1 {
    color: black;
    text-align: center;
    font-size: 44px;
}


div .climbing{
    margin:auto;
    display: block;
    width: 444px;
    height: 555px;
    border-style: outset;
    border-width: 3px;
}

div p.excited{
    margin: auto;
    width: 444px;
    padding-top: 5px;
}


h2 {
   text-align: center;
   font-size: 26px;
}

 .padding {
    padding-top: 35px;
}

table {
    margin: auto;
}



div .JID {
    width: 200px;
    height: 200px;
}

div .redveil {
    width: 200px;
    height: 200px;
}

div .roc{
    width: 200px;
    height: 200px;
}

div .saba {
    width: 200px;
    height: 200px;
}

div .denzel {
    width: 200px;
    height: 200px;
}

div .largeThief {
    width: 200px;
    height: 200px;
}

div .kendrick {
    width: 200px;
    height: 200px;
}

div p.albums {
    margin: auto;
    width: 710px;
    padding-top: 5px;
}
